.scroll-pane{
    -fx-border-color: blue;
    -fx-border-width:0;
    -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}
.scroll-pane > .viewport {
   -fx-background-color: #dbdbdb;
   -fx-border-color: #dbdbdb;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 2em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 10;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(black,90%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}

#addStateBtn{
     -fx-focus-color: transparent;
     -fx-border-color : #313644;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
 }
 #addStateBtn:pressed{
     -fx-border-color : #5ac2ab;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
 }
 #addConditionBtn{
     -fx-focus-color: transparent;
     -fx-border-color : #313644;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
 }
 #addConditionBtn:pressed{
     -fx-border-color : #5ac2ab;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
 }
