.scroll-pane{
    -fx-border-color: blue;
    -fx-border-width:0;
    -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}
.scroll-pane > .viewport {
   -fx-background-color: #dbdbdb;
   -fx-border-color: #dbdbdb;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 2em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 10;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(black,90%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}

#addStateBtn{
     -fx-focus-color: transparent;
     -fx-border-color : #313644;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
     -fx-cursor: hand;
     -fx-min-width: 130;
 }
 #addStateBtn:pressed{
     -fx-border-color : #5ac2ab;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
     -fx-cursor: hand;
     -fx-min-width: 130;
 }
 #addConditionBtn{
     -fx-focus-color: transparent;
     -fx-border-color : #313644;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
     -fx-cursor: hand;
     -fx-min-width: 130;
 }
 #addConditionBtn:pressed{
     -fx-border-color : #5ac2ab;
     -fx-background-color : #313644;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : #5ac2ab;
     -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
     -fx-cursor: hand;
     -fx-min-width: 130;
 }
#zoomInButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('zoomInBtn-toggle.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
     -fx-background-repeat: no-repeat;
}
#zoomInButton{
    -fx-background-image: url('zoomInBtn.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
     -fx-background-repeat: no-repeat;
}
#zoomOutButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('zoomOutBtn-toggle.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
     -fx-background-repeat: no-repeat;
}
#zoomOutButton{
    -fx-background-image: url('zoomOutBtn.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
     -fx-background-repeat: no-repeat;
}
#zoomDefaultButton:pressed{
     -fx-focus-color: transparent;
     -fx-background-color: transparent;
     -fx-background-image: url('zoomDefaultBtn-toggle.png');
     -fx-background-size : 25px;
     -fx-cursor: hand;
     -fx-background-repeat: no-repeat;
 }
#zoomDefaultButton{
     -fx-background-image: url('zoomDefaultBtn.png');
     -fx-background-size : 25px;
     -fx-background-color: transparent;
     -fx-cursor: hand;
     -fx-background-repeat: no-repeat;
 }