.root{
    -fx-focus-color: transparent;
}
#statePane{
    -fx-background-color : #313644;
}
.text-field{
    -fx-background-color : #313644;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size : 14 px;
}

#deviceIconHBox{
    -fx-background-color : transparent;
}
.scroll-pane{
     -fx-focus-color: transparent;
     -fx-border-radius : 10;
     -fx-background-color: #313644;
     -fx-background-insets: 0 0 0;
     -fx-background-radius: 10;
     -fx-padding: 5;
}
.scroll-pane:focused {
     -fx-focus-color: transparent;
     -fx-border-radius : 10;
     -fx-background-color: #313644;
     -fx-background-insets: 0 0 0;
     -fx-background-radius: 10;
     -fx-padding: 5;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}
.scroll-pane > .viewport{
    -fx-background-color:#313644;
    -fx-border-color : transparent;
}

.scroll-bar:horizontal .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar:horizontal .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 5;
}
.scroll-bar:horizontal .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 5;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
    -fx-background-insets: 1, 1, 1;
}
.scroll-bar .thumb{
    -fx-background-color: white;
    -fx-border-radius: 2em;
    -fx-background-insets: 1, 1, 1;
}
.scroll-bar {
    -fx-background-color: transparent;
}
#addInputButton{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('Add-toggle.png');
    -fx-background-size : 50px;
}
#addInputButton:pressed{
    -fx-background-image: url('Add.png');
    -fx-background-size : 50px;
    -fx-background-color: transparent;
}