.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill : black;
    -fx-font-size:12px;
}
#topicConfigDevice{
    -fx-background-color : transparent;
    -fx-text-fill : #313644;
    -fx-font-size:14px;
    -fx-font-weight: bold;
}
#nameLabel{
    -fx-background-color : transparent;
    -fx-text-fill : #313644;
    -fx-max-width: 100;
    -fx-min-width: 100;
    -fx-font-size:12px;
}
.label{
    -fx-background-color : transparent;
    -fx-text-fill : #313644;
    -fx-font-size:12px;
}
#portComboBox{
    -fx-max-width: 95;
    -fx-min-width: 60;
    -fx-min-height: 25;
    -fx-max-height: 25;
    -fx-font-size:12px;
}
#portComboBox:showing .list-view,#portComboBox:armed .list-view{
    -fx-max-width: 95;
    -fx-min-width: 60;
    -fx-font-size:12px;
}
#controllerSelection{
    -fx-padding: 0 0 0 35 ; /* 4 8 4 8 */

}

/*#deviceComboBox{
    -fx-max-width: 320;
    -fx-min-width: 320;
    -fx-min-height: 25;
    -fx-max-height: 25;
}*/

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px;
    -fx-padding: 0; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-border-color : #cccccc;
    -fx-border-radius:3px;
    -fx-background-color: white;
    -fx-background-insets:0;
    -fx-font-size:12px;
}
/*#deviceComboBox:showing .list-view,#deviceComboBox:armed .list-view {
    -fx-max-width: 320;
    -fx-min-width: 320;
}*/
.combo-box.list-cell {
    -fx-background-color: white;
    -fx-background-radius:3px;
    -fx-text-fill: #313644;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
    -fx-font-size:12px;
}
.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #5ac2ab;
    -fx-background-radius:0;
    -fx-text-fill: white;
    -fx-font-size:12px;
}
.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: derive(#cccccc,40%);
    -fx-background-radius:0;
    -fx-text-fill: black;
    -fx-font-size:12px;
}
.scroll-pane{
    -fx-padding:0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.scroll-bar:vertical .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 7;
}
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 7;
}

.scroll-bar:horizontal .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 7;
}
.scroll-bar:horizontal .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 7;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(#313644,45%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}
.scroll-bar {
    -fx-background-color: transparent;
}
.check-box{
    -fx-min-width:25;
    -fx-min-height:25;
}
.check-box .box{
    -fx-border-color: #cccccc;
    -fx-background-color: white;
}