.root{
    -fx-border-color: transparent transparent transparent transparent;
}
.label{
    -fx-text-fill : white;
}
.hbox{
    -fx-border-color : #313644;
    -fx-border-width: 2px;
}
#decBtn{
    -fx-background-image: url('reduce.png');
    -fx-background-size : 20px;
    -fx-border-color : #313644;
    -fx-border-width: 1px;
    -fx-background-insets: 0, 0, 0;
    -fx-cursor: hand;
}
#incBtn{
    -fx-background-image: url('increase.png');
    -fx-background-size : 20px;
    -fx-border-color : #313644;
    -fx-border-width: 1px;
    -fx-background-insets: 0, 0, 0;
    -fx-cursor: hand;
}
#numTextField{
    -fx-font-size:12px;
    -fx-background-color : white;
    -fx-text-fill : #313644;
    -fx-border-color : #cccccc;
    -fx-border-width: 1px;
    -fx-background-insets: 0, 0, 0;
}