
#deviceTitle{
    -fx-background-color : #313644;
    -fx-text-fill : white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.titled-pane > .title{
    -fx-background-color : #3b424f;
    -fx-border-color: #3b424f transparent transparent #5ac2ab;
    -fx-border-width : 5px;
}
.titled-pane{
    -fx-focus-color: transparent;
    -fx-text-fill : white;
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color : #5ac2ab;
}
.titled-pane > *.content{
    -fx-background-color : transparent;
    -fx-box-border : transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 2em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 10;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: #51af98;
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}

#addBtn{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('AddDevice-toggle.png');
    -fx-background-size : 20px;
    -fx-border-color : transparent;
}
#addBtn:pressed{
    -fx-background-image: url('AddDevice.png');
    -fx-background-size : 20px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
}
