.tab {
    -fx-background-color: control-background-color;
    -fx-border-color: background-color;
    /*-fx-border-radius: 5px 5px 0px 0px;*/
    -fx-padding: 5px 10px 5px 10px;
    -fx-text-fill: text-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab:selected {
    -fx-background-color: background-color;
    -fx-border-color: background-color;
    /*-fx-border-radius: 5px 5px 0px 0px;*/
    -fx-padding: 5px 10px 5px 10px;
    -fx-text-fill: text-color-hilight;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
*.tab-header-background {
    -fx-background-color: control-background-color;
    -fx-border-color: control-background-color;
    -fx-border-width : 1px;
    -fx-padding: 0px;
}
.tab-pane:top > .tab-header-area {
    /*-fx-padding: 0.416667em 0.166667em 0.0em 0.416667em; *//* 5 2 0 5 */
    -fx-padding: 0; /* 5 2 0 5 */
}