.root {
    -fx-background-color : #313644;
    -fx-focus-color: transparent;
}
.dialog-pane{
    -fx-background-color : white;
}
.titled-pane > .title{
    -fx-background-color : white;
    -fx-border-color: transparent transparent #313644 transparent;
    -fx-border-width : 1px;
}

.titled-pane{
    -fx-text-fill : #313644;
    -fx-font-weight: bold;
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color : #5ac2ab;
}
.titled-pane > *.content{
    -fx-background-color : transparent;
    -fx-box-border : transparent;
}

.scroll-pane > .viewport{
    -fx-background-color : white;
    -fx-border-color : white;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(black,90%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}
.scroll-bar {
    -fx-background-color: transparent;
}

.flow-pane{
    -fx-background-color : #4d5666;
}
.button:pressed{
    -fx-background-color : #313644;
    -fx-border-color : #313644;
    -fx-text-fill : white;
}
.button{
    -fx-focus-color: transparent;
    -fx-border-color : #313644;
    -fx-background-color : transparent;
    -fx-text-fill : #313644;
}