
#deviceTitle{
    -fx-background-color : #404040;
    -fx-text-fill : white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.titled-pane > .title{
    -fx-background-color : #1c1c1c;
    -fx-border-color: #1c1c1c transparent transparent #1c1c1c;
    -fx-border-width : 5px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.titled-pane{
    -fx-focus-color: transparent;
    -fx-font-size:14px;
    -fx-text-fill : white;
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color : #ffffff;
}
.titled-pane > *.content{
    -fx-background-color : #404040;
    -fx-box-border : transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
}
.scroll-pane > .viewport {
    -fx-background-color:#1c1c1c;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 2em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 10;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color:   #1c1c1c;
    -fx-border-color :   #1c1c1c;
    -fx-border-radius:2em;
}

#addBtn:pressed ,#addBtn:hover{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('addtoggle.png');
    -fx-background-size : 30px;
    -fx-background-repeat:no-repeat;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}
#addBtn{
    -fx-background-image: url('add2.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

.scroll-bar .track{
    -fx-background-color:   #1c1c1c;
    -fx-border-color :   #1c1c1c;
    -fx-border-radius:2em;
}
.list-cell {
    -fx-background-color: #404040;
    -fx-pref-height: 35px;
    }
#delButton{
    -fx-background-image: url('cancelBtn.png');
    -fx-background-size : 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#nameLabel{
    -fx-pref-width: 150px;
}

#nameTextField{
    -fx-background-color: #404040;
    -fx-text-inner-color: white;
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
}
