.label{
    -fx-background-color : transparent;
    -fx-text-fill : black;
}
.text-field{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-border-color : #edeef3;
    -fx-border-width: 2px;
    -fx-border-radius: 0em;
    -fx-background-inset : 0 0 0;
    -fx-pref-width: 35;
}
.text-field:focused{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-border-color : #edeef3;
    -fx-border-width: 2px;
    -fx-border-radius: 0em;
    -fx-background-inset : 0 0 0;
    -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
    -fx-pref-width: 35;
}
.spinner > .spinner{
    -fx-border-color : white;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #edeef3;
    -fx-border-color : #edeef3;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: derive(black,40%);
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-background-color: derive(black,40%);
}
.spinner .increment-arrow-button:hover:pressed .arrow,
.spinner .decrement-arrow-button:hover:pressed .arrow,
.spinner .increment-arrow-button:pressed .arrow,
.spinner .decrement-arrow-button:pressed .arrow {
    -fx-background-color: white;
}
