.menu-item:focused {
    -fx-background-color: accent-color;
}

.split-pane{
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-insets:0;
    -fx-padding: 0;

}

.split-pane *.split-pane-divider {
    -fx-padding: 1 1 1 1;
    -fx-background-color: border-color;
}

/******************************************************************************
 *
 * notification popup
 *
 *****************************************************************************/
.notification-bar>.pane {
    -fx-background-color: white;
    -fx-padding: 7.5 7.5 7.5 7.5;
    -fx-background-insets: 0, 1, 2;
}

.notification-bar>.pane .title {
    -fx-font-size: 1.333em; /*16px;*/
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.notification-bar>.pane .label {
    -fx-font-size: 1em; /*12px;*/
    -fx-text-fill: #333333;
    -fx-alignment: top-left;
}

/******************************************************************************
 *
 * Close button
 *
 *****************************************************************************/

.notification-bar>.pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
     -fx-background-color: transparent;
     -fx-cursor: hand;
}

.notification-bar>.pane .close-button:pressed {
     -fx-background-color: transparent;
     -fx-cursor: hand;
}

.notification-bar>.pane .close-button>.graphic {
     -fx-background-color: #707070;
     -fx-scale-shape: false;
     -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar>.pane .close-button:hover>.graphic {
     -fx-background-color: #333333;
}

.notification-bar>.pane .close-button:pressed>.graphic {
     -fx-background-color: #333333;
}