.titled-pane > .title{
    -fx-background-color : #313644;
    -fx-border-color: #313644;
    -fx-border-width : 2px;
}
#projectNameTextField{
    -fx-text-fill: white;
    -fx-border-color: transparent;
}
#projectNameTextField:focus{
    -fx-text-fill: white;
    -fx-border-color: transparent;
}
#tutorialBtn{
    -fx-background-color : transparent;
    -fx-border-color : #5ac2ab;
    -fx-text-fill: #5ac2ab;
}
#tutorialBtn:pressed{
    -fx-background-color : #5ac2ab;
    -fx-border-color : #5ac2ab;
    -fx-text-fill: #231f20;
}
.split-pane{
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-insets:0;
    -fx-padding: 0;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}
