.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.combo-box > .list-cell  {
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

/*.combo-box-base > .arrow-button {
    -fx-padding: 0.5em 0.667em 0.5em 0; // adapt modena.css of JDK 10.0.1 from https://gist.github.com/maxd/63691840fc372f22f470
}*/

.combo-box-base > .arrow-button > .arrow {
    -fx-background-color: white;
}