.root {
    -fx-background-color : #313644; /*unknown*/
}

#vBox {
    -fx-background-color : #ffffff; /*config--diagram-upload button*/
    -fx-border-color : #e3e3e3;
}

#button {
    -fx-font-size: 12px;
    -fx-background-color : #e1e1e1;
    -fx-border-color : #333333;
    -fx-text-fill: #333333;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

#button:pressed {
    -fx-font-size: 12px;
    -fx-background-color : #c1c1c1;
    -fx-border-color : #333333;
    -fx-text-fill: #333333;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}