#rightPanel {
    -fx-background-color : #2b2b2b;
}

#projectButton {
    -fx-background-color : #2b2b2b;
    -fx-border-color: #1c1c1c;
    -fx-border-width: 1.5px 0px 0px 0px;
}

.button{
    -fx-font-size:12px;
    -fx-background-color : #404040;
    -fx-background-radius : 5px;
    -fx-border-color : #1c1c1c;
    -fx-border-radius : 5px;
    -fx-text-fill: #aaaaaa;
    -fx-cursor: hand;
}
.button:pressed{
    -fx-font-size:12px;
    -fx-background-color : #333333;
    -fx-background-radius : 5px;
    -fx-border-color : #1c1c1c;
    -fx-border-radius : 5px;
    -fx-text-fill: #aaaaaa;
    -fx-cursor: hand;
}
#deleteDeviceBtn{
    -fx-font-size:12px;
    -fx-border-color : transparent;
    -fx-background-color : transparent;
    -fx-text-fill : #0768de;
}
.text-field{
    -fx-background-color: -fx-text-box-border, #777677;
    /*-fx-background-color: -fx-text-box-border, -fx-control-inner-background;*/
    -fx-border-color :  #e2e2e2;
    -fx-border-width: 2px;
    -fx-border-radius: 2.5px;
    -fx-background-inset : 0 0 0;
}
#arcNode{
    -fx-background-color : #0768de;
}
