.root{
    -fx-focus-color: transparent;
    -fx-effect: null;
    -fx-font-size:12px;
}
#statePane/*scene*/{
    -fx-background-color : #2b2b2b;
    -fx-border-color : #1c1c1c;
}
#nameStateTextField{
    -fx-background-color : #2b2b2b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size : 14 px;
}
#numberTextField{
    -fx-background-color : #777677;
    -fx-border-color : transparent;
    -fx-border-width : 0px;
    -fx-text-fill : #ffffff;
    -fx-font-size : 10 px;
    /*-fx-font-weight : bold;*/
}
#stateBottomHBox{
    -fx-background-color : #2b2b2b;
}
#delayText {
    -fx-text-fill : white;
    -fx-font-size:12px;
}
.flow-pane{
    -fx-background-color : #b2b2b2;
    -fx-border-color : null;
}
.scroll-pane{
     -fx-focus-color: transparent;
     -fx-background-insets: 0;
     -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}
.scroll-pane > .viewport{
    -fx-background-color: #2b2b2b;
    -fx-border-color : #1c1c1c;
}

.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(#313644,45%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}
.scroll-bar {
    -fx-background-color: transparent;
}

#TimeUnitComboBox{
    -fx-font-size:12px;
    -fx-background-color : #0768de;
    -fx-border-color : #0768de;
}
#TimeUnitComboBox .list-cell {
    -fx-font-size:12px;
    -fx-text-fill: white;
}
#TimeUnitComboBox .combo-box-popup .list-cell{
    -fx-font-size:12px;
    -fx-text-fill: #313644;
    -fx-background-color: white;
}
#TimeUnitComboBox .list-view .list-cell:filled:hover
{
    -fx-font-size:12px;
    -fx-background-color: #5ac2ab;
    -fx-text-fill: white;
}
#TimeUnitComboBox .combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: derive(#cccccc,40%);
    -fx-background-radius:0;
    -fx-text-fill: black;
}

#TimeUnitComboBox .arrow{
    -fx-background-color: #777677;
}
#TimeUnitComboBox: pressed .arrow-button {
    -fx-background-color: #1c1c1c;
}
#TimeUnitComboBox: pressed .arrow {
    -fx-background-color: #777677;
}

#addOutputButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('Add-toggle-2.png');
    -fx-background-size : 60px;
    -fx-cursor: hand;
}
#addOutputButton{
    -fx-background-image: url('Add-2.png');
    -fx-background-size : 60px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
