.root{
    -fx-focus-color: transparent;
}
#statePane{
    -fx-background-color : white;
}
.text-field{
    -fx-background-color : #313644;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size : 14 px;
}
#numberTextField{
    -fx-background-color : white;
    -fx-border-color : transparent;
    -fx-border-width : 0px;
    -fx-text-fill : black;
    -fx-font-size : 9 px;
    -fx-font-weight : normal;
}
#stateBottomHBox{
    -fx-background-color : #313644;
}
#delayLabel{
    -fx-text-fill : white;
}
.flow-pane{
    -fx-background-color : white;
    -fx-border-color : null;
}
.scroll-pane{
     -fx-focus-color: transparent;
     -fx-background-insets: 0;
     -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}
.scroll-pane > .viewport{
    -fx-background-color:white;
    -fx-border-color : transparent;
}

.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(black,90%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}
.scroll-bar {
    -fx-background-color: transparent;
}

#TimeUnitComboBox{
    -fx-background-color : #0768de;
    -fx-border-color : #0768de;
}
.combo-box-base .text{
    -fx-fill: white;
}
#TimeUnitComboBox .list-view .list-cell:filled:hover
{
    -fx-background-color: #5ac2ab;
    -fx-text-fill: -fx-text-inner-color;
}
#TimeUnitComboBox .list-view .list-cell:filled;
{
    -fx-text-fill: black;
}
#TimeUnitComboBox .arrow{
    -fx-background-color: white;
}
#TimeUnitComboBox: pressed .arrow-button {
    -fx-background-color: white;
}
#TimeUnitComboBox: pressed .arrow {
    -fx-background-color: #5ac2ab;
}

#addOutputButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('Add-toggle.png');
    -fx-background-size : 50px;
}
#addOutputButton{
    -fx-background-image: url('Add.png');
    -fx-background-size : 50px;
    -fx-background-color: transparent;
}
