#toolBarPane {
    -fx-background-color: background-color;
    -fx-border-color: border-color;
    -fx-border-width: 0 0 2 0;
}

#overflow-menubutton {
    -fx-background-image: url('hamburger-icon.png');
    -fx-background-size: 30px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
}

#overflow-menubutton .arrow {
     -fx-shape: "";
     -fx-padding: 0;
}

/* style a radio button into a tab liked control */

.radio-button {
    -fx-text-fill: text-color;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-label-padding: 0 0 0 0;
    -fx-cursor: hand;
}

.radio-button:hover {
    -fx-text-fill: text-color-hilight;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 3 0;
    -fx-label-padding: 0 0 0 0;
    -fx-cursor: hand;
}

.radio-button:selected {
    -fx-text-fill: text-color-hilight;
    -fx-background-color: transparent;
    -fx-border-color: text-color-hilight;
    -fx-border-width: 0 0 3 0;
    -fx-label-padding: 0 0 0 0;
    -fx-cursor: hand;
}

.radio-button > .radio,
.radio-button:focused > .radio  {
   -fx-background-radius: 0em;
   -fx-padding: 0em;
}

.radio-button > .radio > .dot {
   -fx-background-color: transparent;
   -fx-background-radius: 0em;
   -fx-padding: 0em;
}

/* icon of upload button is set in Toolbar.java as we can't set icon size in css */
#uploadButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: text-fill-color;
    -fx-cursor: hand;
}

#uploadStatusButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: text-fill-color;
    -fx-cursor: hand;
}