#toolBarPane {
    -fx-background-color: background-color;
    -fx-border-color: border-color;
    -fx-border-width: 0 0 1 0;
}

#saveBtn{
    -fx-background-image: url('save.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

#saveBtn:pressed{
    -fx-background-image: url('save-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#saveAsBtn{
    -fx-background-image: url('save-as.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

#saveAsBtn:pressed{
    -fx-background-image: url('save-as-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#loadBtn{
    -fx-background-image: url('open.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

#loadBtn:pressed{
    -fx-background-image: url('open-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#newFileBtn{
    -fx-background-image: url('new.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

#newFileBtn:pressed{
    -fx-background-image: url('new-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

/*#deviceMonitorMenuButton{
    -fx-background-image: url('Device-monitor.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

#deviceMonitorMenuButton:showing{
    -fx-background-image: url('Device-monitor-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}*/

#statusLabel {
    -fx-text-fill: text-color;
}

/*.toolbar-tab-button {
    -fx-text-fill: text-color;
    -fx-pref-height: 34px;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: border-color;
}

#overflow-menubutton {
    -fx-background-image: url('overflow-menu.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30px;
}

#overflow-menubutton .arrow {
     -fx-shape: "";
     -fx-padding: 0;
}*/