.root{
    -fx-font-size:12px;
}
.titled-pane > .title{
    -fx-font-size:12px;
    -fx-background-color : #313644;
    -fx-border-color: #313644;
    -fx-border-width : 2px;
}
#toolBarPane {
    -fx-background-color: #ffffff; /*toolbar background area*/
    -fx-border-color: #e3e3e3;
}
#menuHBox {
    -fx-background-color: transparent;
}
#projectNameTextField{
    -fx-font-size:12px;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-background-color: #313644;
}
#projectNameTextField .text{
    -fx-underline:true;
}
#projectNameTextField:focus{
    -fx-text-fill: white;
    -fx-border-color: transparent;
}
#tutorialBtn{
    -fx-background-color : transparent;
    -fx-border-color : #5ac2ab;
    -fx-text-fill: #5ac2ab;
    -fx-cursor: hand;
    -fx-font-size: 12px;
}
#tutorialBtn:pressed{
    -fx-background-color : #5ac2ab;
    -fx-border-color : #5ac2ab;
    -fx-text-fill: #231f20;
    -fx-cursor: hand;
}
.split-pane{
    -fx-border-width:0;
    -fx-border-insets:0;
    -fx-background-insets:0;
    -fx-padding: 0;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}
#saveBtn{
    -fx-background-image: url('Save.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}
#saveBtn:pressed{
    -fx-background-image: url('Save-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#saveAsBtn{
    -fx-background-image: url('save-as.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}
#saveAsBtn:pressed{
    -fx-background-image: url('save-as-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#loadBtn{
    -fx-background-image: url('Open.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}
#loadBtn:pressed{
    -fx-background-image: url('Open-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}
#newFileBtn{
    -fx-background-image: url('New.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}
#newFileBtn:pressed{
    -fx-background-image: url('New-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}
#deviceMonitorButton{
    -fx-background-image: url('Device-monitor.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

#deviceMonitorButton:pressed{
    -fx-background-image: url('Device-monitor-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#statusLabel {
    -fx-text-fill: white;
}

#feedback {
    -fx-border-color: #5ac2ab;
    -fx-background-color: none;
    -fx-text-fill: #5ac2ab;
}