.button:pressed{
    -fx-background-color : #edeef3;
    -fx-border-color : #edeef3;
    -fx-text-fill: derive(black,70%);
    -fx-font-size: 24px;
}
.button{
    -fx-background-color : transparent;
    -fx-border-color : transparent;
    -fx-text-fill: derive(black,70%);
    -fx-font-size: 24px;
}
.button:disabled{
    -fx-background-color : #edeef3;
    -fx-border-color : #edeef3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
#cancelBtn{
        -fx-background-color : #941B0C;
        -fx-background-radius: 20px;
        -fx-text-fill: white;
        -fx-font-size: 14px;
}
#cancelBtn:pressed{
    -fx-background-color : derive(#941B0C,70%);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-size: 24px;
}
.scroll-pane > .viewport{
    -fx-background-color : white;
    -fx-border-color : white;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color:   #edeef3;
    -fx-border-color :   #edeef3;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: #51af98;
    -fx-border-radius: 2em;
    -fx-background-insets: 2 0 0;
}
.scroll-bar {
    -fx-background-color: transparent;
}