#UpdateButton {
    -fx-background-color: background-color;
    -fx-border-color: border-color;
    -fx-text-fill: text-color;
    -fx-font-size: 1.13em;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 2.5 10 2.5 10;
    -fx-cursor: hand;
}

#UpdateButton:hover {
    -fx-background-color: control-hover-background-color;
    -fx-border-color: border-color;
    -fx-text-fill: text-color;
    -fx-font-size: 1.13em;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 2.5 10 2.5 10;
    -fx-cursor: hand;
}

#UpdateButton:pressed {
    -fx-background-color: accent-color;
    -fx-border-color: accent-color;
    -fx-text-fill: text-color-invert;
    -fx-font-size: 1.13em;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-padding: 2.5 10 2.5 10;
    -fx-cursor: hand;
}

#text {
    -fx-fill: text-color;
    -fx-font-size: 14;
}
