.titled-pane > .title {
  -fx-background-color: transparent;
  /*-fx-background-insets: 0, 1, 2;
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
  -fx-padding: 0.166667em 1.166667em 0.25em 0;*/ /* 2 14 3 0 */
  /*-fx-color: transparent;*/
}

/*.titled-pane > .title > .arrow-button .arrow {
  -fx-background-color: white;
}*/