.root{
    /*-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;*/
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: background-color;
    -fx-padding: 25px 25px 25px 25px;
    -fx-accent: accent-color;
}

#ConnectionDiagramTab {
     -fx-focus-color: transparent;
     -fx-faint-focus-color: transparent;
}
#DeviceListTab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#SourceCodeTab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#TabHBox {
    -fx-background-color: background-color;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#diagramScrollPane {
    -fx-background-color: control-background-color;
    -fx-border-color: border-color;
    -fx-border-width: 0.5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#deviceTableScrollPane {
    -fx-background-color: control-background-color;
    -fx-border-color: border-color;
    -fx-border-width: 0.5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#codeTextScrollPane {
    -fx-background-color: control-background-color;
    -fx-border-color: border-color;
    -fx-border-width: 0.5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane{
    -fx-padding:0;
    -fx-background-color: background-color;
    -fx-border-color: background-color;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}
.scroll-pane:focused {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
        -fx-border-color: transparent;
}
.scroll-pane .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.scroll-bar:vertical .increment-button {
    -fx-background-color : background-color;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .decrement-button {
    -fx-background-color : background-color;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 10;
}
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 10;
}
.scroll-bar:horizontal .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 10;
}
.scroll-bar:horizontal .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 10;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    /*-fx-border-radius: 2em;*/
}
.scroll-bar .thumb{
    -fx-background-color: scrollbar-thumb-color;
    /*-fx-border-radius: 2em;*/
    /*-fx-background-insets: 2, 0, 0;*/
}
.scroll-bar {
    -fx-background-color: control-background-color;
    -fx-border: control-background-color;
}

/*--------------------tab pane: Connection diagram, Device list, Sourcecode---------------------*/
.tab {
    -fx-background-color: control-background-color;
    -fx-border-color: background-color;
    /*-fx-border-radius: 5px 5px 0px 0px;*/
    -fx-padding: 5px 10px 5px 10px;
    -fx-text-fill: text-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab:selected {
    -fx-background-color: background-color;
    -fx-border-color: background-color;
    /*-fx-border-radius: 5px 5px 0px 0px;*/
    -fx-padding: 5px 10px 5px 10px;
    -fx-text-fill: text-color-hilight;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
*.tab-header-background {
    -fx-background-color: control-background-color;
    -fx-border-color: control-background-color;
    -fx-border-width : 1px;
    -fx-padding: 0px;
}
.tab-pane:top > .tab-header-area {
    /*-fx-padding: 0.416667em 0.166667em 0.0em 0.416667em; *//* 5 2 0 5 */
    -fx-padding: 0; /* 5 2 0 5 */
}
/*----------------------------------------------------*/

.text-area {
    -fx-border-color: border-color;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
}

.text-area .content{
    -fx-background-color: control-background-color;
}

/*.text-area .content{
    -fx-background-color: #f6f6f6;
        -fx-background-radius: 5;
        -fx-background-insets: 0;
        -fx-border-color: #e3e3e3;
        -fx-border-width: 1;
        -fx-border-radius: 5;
}
.text-area: focused .content{
    -fx-background-color: white;
        -fx-background-radius: 5;
        -fx-background-insets: 0;
        -fx-border-color: #2673fd;
        -fx-border-width: 1;
        -fx-border-radius: 5;
}*/

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: generateview-header-background-color;
}
.table-view .column-header .label{
    -fx-text-fill: generateview-text-color;
}

/*#close-button {
    -fx-image: url('/css/cancel-button.png');
}

#close-button:hover {
    -fx-image: url('/css/cancel-button-hover.png');
    -fx-cursor: hand;
}

#close-button:pressed {
    -fx-image: url('/css/cancel-button-press.png');
    -fx-cursor: hand;
}*/