.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 15;
    -fx-background-color: background-color;
    -fx-background-radius: 15;
    -fx-accent: accent-color;
}

.scroll-pane{
    -fx-padding:0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.scroll-pane:focused {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
        -fx-border-color: transparent;
}
.scroll-pane .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.scroll-bar:vertical .increment-button {
    -fx-background-color : green;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .decrement-button {
    -fx-background-color : pink;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 10;
}
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 10;
}
.scroll-bar:horizontal .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 10;
}
.scroll-bar:horizontal .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 10;
}
.scroll-bar .track{
    -fx-background-color: scrollbar-background-color;
    -fx-border-color : scrollbar-background-color;
    /*-fx-border-radius: 2em;*/
}
.scroll-bar .thumb{
    -fx-background-color: scrollbar-thumb-color;
    /*-fx-border-radius: 2em;*/
    /*-fx-background-insets: 2, 0, 0;*/
}
.scroll-bar {
    -fx-background-color: scrollbar-background-color;
    -fx-border: scrollbar-background-color;
}

.tab-pane .tab
{
    -fx-background-color: transparent;
    -fx-padding: 5 15 5 15;
    -fx-cursor: hand;
}
.tab-pane .tab:selected
{
    -fx-background-color: transparent;
    -fx-padding: 5 15 5 15;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: accent-color;
    -fx-font-weight: bold;
}
.tab-pane *.tab-header-background{
    /*-fx-background-color: , -fx-inner-border, white;*/
    -fx-background-color: transparent;
    /*-fx-background-insets: 0 0 1;*/
    -fx-border-color: transparent transparent #e3e3e3 transparent;
}
.tab:top{
    -fx-background-color: -fx-body-color ,background-color;
    -fx-tab-border-color: red;
    -fx-inner-border : red;
    -fx-outer-border: transparent;
}
.tab:top:selected{
    -fx-background-color: -fx-body-color, red;
    -fx-tab-border-color: red;
    -fx-inner-border : red;
    -fx-outer-border: transparent;
}
.tab-pane:top *.tab-header-area{
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 1.5em 1.5em 1.0em 0.0em; /* overridden as 5 2 0 0 */
}
.tab-pane:top:selected *.tab-header-area{
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 1.5em 1.5em 1.0em 0.0em; /* 5 2 0 10 */
}

.text-area {
    -fx-border-color: border-color;
    -fx-border-width: 1;
}

.text-area .content{
    -fx-background-color: control-background-color;
}

/*.text-area .content{
    -fx-background-color: #f6f6f6;
        -fx-background-radius: 5;
        -fx-background-insets: 0;
        -fx-border-color: #e3e3e3;
        -fx-border-width: 1;
        -fx-border-radius: 5;
}
.text-area: focused .content{
    -fx-background-color: white;
        -fx-background-radius: 5;
        -fx-background-insets: 0;
        -fx-border-color: #2673fd;
        -fx-border-width: 1;
        -fx-border-radius: 5;
}*/

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: generateview-header-background-color;
}
.table-view .column-header .label{
    -fx-text-fill: generateview-text-color;
}

#close-button {
    -fx-image: url('/css/cancel-button.png');
}

#close-button:hover {
    -fx-image: url('/css/cancel-button-hover.png');
    -fx-cursor: hand;
}

#close-button:pressed {
    -fx-image: url('/css/cancel-button-press.png');
    -fx-cursor: hand;
}