#toolBarPane {
    -fx-background-color: background-color;
    -fx-border-color: border-color;
    -fx-border-width: 0 0 2 0;
}

#overflow-menubutton {
    -fx-background-image: url('../icon/hamburger-icon.png');
    -fx-background-size: 30px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
}

#overflow-menubutton .arrow {
     -fx-shape: "";
     -fx-padding: 0;
}

/* style a radio button into a tab liked control */

.radio-button {
    -fx-text-fill: text-color;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-label-padding: 0 0 0 0;
    -fx-cursor: hand;
}

.radio-button:hover {
    -fx-text-fill: text-color-hilight;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-label-padding: 0 0 0 0;
    -fx-cursor: hand;
}

.radio-button:selected {
    -fx-text-fill: text-color-hilight;
    -fx-background-color: transparent;
    -fx-border-color: text-color-hilight;
    -fx-border-width: 0 0 2 0;
    -fx-label-padding: 0 0 0 0;
    -fx-cursor: hand;
}

.radio-button > .radio,
.radio-button:focused > .radio  {
   -fx-background-radius: 0em;
   -fx-padding: 0em;
}

.radio-button > .radio > .dot {
   -fx-background-color: transparent;
   -fx-background-radius: 0em;
   -fx-padding: 0em;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px;
    -fx-padding: 0; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-border-color : text-fill-border-color;
    -fx-border-radius:3px;
    -fx-background-color: white;
    -fx-background-insets:0;
    -fx-font-size:12px;
}
.combo-box.list-cell {
    -fx-background-color: text-fill-background-color;
    -fx-background-radius: 3px;
    -fx-text-fill: text-fill-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
    -fx-font-size:12px;
}
.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: accent-color;
    -fx-background-radius:0;
    -fx-text-fill: white;
    -fx-font-size:12px;
}
.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: derive(#cccccc,40%);
    -fx-background-radius:0;
    -fx-text-fill: black;
    -fx-font-size:12px;
}

#statusLabel {
    -fx-text-fill: text-fill-color;
}

#portComboBox {
    -fx-max-width: 200px;
}

#interactiveButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: text-fill-color;
    -fx-cursor: hand;
    -fx-padding: 0px;
}

/* icon of upload button is set in Toolbar.java as we can't set icon size in css */
#uploadButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: text-fill-color;
    -fx-cursor: hand;
    -fx-padding: 0px;
}

#uploadStatusButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: text-fill-color;
    -fx-cursor: hand;
    -fx-padding: 0px;
}

#deviceMonitorMenuButton{
    -fx-background-image: url('../icon/Device-monitor.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

#deviceMonitorMenuButton:showing{
    -fx-background-image: url('../icon/Device-monitor-press.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}