.scroll-pane{
    -fx-border-color: red;
    -fx-border-width:0;
    -fx-padding: 0;
}
.scroll-pane:focused {
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}
.scroll-pane > .viewport {
   -fx-background-color: canvas-background-color;/*diagram editor area*/
   -fx-border-color: canvas-background-color;/*diagram editor border*/
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 2em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 10;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(black,90%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}

#addStateBtn{
     -fx-focus-color: transparent;
     -fx-background-color : add-scene-background-color;
     -fx-background-radius: 5px;
     -fx-border-color: add-scene-background-color;
     -fx-border-radius: 5px;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-font-weight: bold;
     -fx-text-fill : add-scene-text-color;
     -fx-min-width: 150;
 }

 #addStateBtn:hover {
    -fx-background-color: add-scene-background-color-hover;
    -fx-border-color : add-scene-background-color-hover;
    -fx-cursor: hand;
 }

 #addStateBtn:pressed{
     -fx-background-color: add-scene-background-color-hover;
     -fx-border-color : add-scene-background-color-hover;
     -fx-cursor: hand;
 }

 #addConditionBtn{
     -fx-focus-color: transparent;
     -fx-border-color : add-scene-background-color;
     -fx-border-radius: 5px;
     -fx-background-color : add-scene-background-color;
     -fx-background-radius: 5px;
     -fx-background-insets:0;
     -fx-font-size : 14px;
     -fx-text-fill : add-scene-text-color;
     -fx-font-weight: bold;
     /*-fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);*/
     -fx-cursor: hand;
     -fx-min-width: 150;
 }

  #addConditionBtn:hover {
     -fx-background-color: add-scene-background-color-hover;
     -fx-border-color : add-scene-background-color-hover;
     -fx-cursor: hand;
  }

 #addConditionBtn:pressed{
     -fx-background-color: add-scene-background-color-hover;
     -fx-border-color : add-scene-background-color-hover;
     -fx-cursor: hand;
 }
#zoomInButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('zoom-in-toggle.png');
    -fx-background-size : 25px;
    -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomInButton{
    -fx-background-image: url('zoom-in.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomOutButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('zoom-out-toggle.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomOutButton{
    -fx-background-image: url('zoom-out.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomDefaultButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('zoom-default-toggle.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10px 10px 10px 10px;
 }
#zoomDefaultButton{
    -fx-background-image: url('zoom-default.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10px 10px 10px 10px;
 }