#frame {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

#nameIconImageView {
    -fx-text-fill: #333333;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

#conditionText {
    -fx-text-fill: condition-theme-color;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

#removeConditionDeviceBtn:hover {
    -fx-cursor: hand;
}