#deviceIcon {
    -fx-background-color: white;
    -fx-border-color: e3e3e3;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 2.5px;
}

#deviceIconText {
    -fx-text-fill: #333333;
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
}

#removeConditionDeviceBtn {
    -fx-cursor: hand;
}