.root {
    -fx-background-color : #313644;
    -fx-focus-color: transparent;
}
.dialog-pane{
    -fx-background-color : white;
}
#deviceLibraryPane {
    -fx-background-color: white;
    -fx-background-radius: 10;
    /*-fx-padding: 30 40 20 40;*/
}
.titled-pane > .title{
    -fx-background-color : white;
    -fx-border-color: transparent transparent #e3e3e3 transparent;
    -fx-border-width : 1px;
}

.titled-pane{
    -fx-font-size: 14px;
    -fx-text-fill : #707070;
    -fx-font-weight: bold;
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color : #5ac2ab;
}
.titled-pane > *.content{
    -fx-background-color : transparent;
    -fx-box-border : transparent;
}

.scroll-pane > .viewport{
    -fx-background-color : white;
    -fx-border-color : white;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: derive(black,90%);
    -fx-border-radius: 2em;
    -fx-background-insets: 2, 0, 0;
}
.scroll-bar {
    -fx-background-color: transparent;
}

.flow-pane{
    -fx-background-color : #4d5666;
}
/*-----------------------------------------------------------------------*/
#okButton {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 5px;
    -fx-text-fill: #333333;
    -fx-padding: 5 40 5 40;
}
#okButton:hover {
    -fx-background-color: #e3e3e3;
    -fx-background-radius: 5px;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #333333;
}
#okButton:pressed {
    -fx-background-color: #2673fd;
    -fx-background-radius: 5px;
    -fx-border-color: #2673fd;
    -fx-border-radius: 5px;
    -fx-text-fill: #ffffff;
}
/*-----------------------------------------------------------------------*/
#cancelButton {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 5px;
    -fx-text-fill: #333333;
    -fx-padding: 5 30 5 30;
}
#cancelButton:hover {
    -fx-background-color: #ff0000;
    -fx-background-radius: 5px;
    -fx-border-color: #ff0000;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
}
#cancelButton:pressed {
    -fx-background-color: #ff0000;
    -fx-background-radius: 5px;
    -fx-border-color: #ff0000;
    -fx-border-radius: 5px;
    -fx-text-fill: #ffffff;
}
/*-----------------------------------------------------------------------*/
.button{
    -fx-focus-color: #707070;
    -fx-border-color : #e3e3e3;
    /*-fx-border-radius : 5px;*/
    -fx-background-color : #ffffff;
    /*-fx-background-radius : 5px;*/
    -fx-text-fill : #707070;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color : #e3e3e3;
    /*-fx-background-radius : 5px;*/
    -fx-border-color : #e3e3e3;
    /*-fx-border-radius : 5px;*/
    -fx-text-fill : #707070;
    -fx-cursor: hand;
}
.button:pressed{
    -fx-background-color : #2673fd;
    /*-fx-background-radius : 5px;*/
    -fx-border-color : #2673fd;
    /*-fx-border-radius : 5px;*/
    -fx-text-fill : #ffffff;
    -fx-cursor: hand;
}
/*-----------------------------------------------------------------------*/
#vBox {
    -fx-background-color: #ffffff;
}

#close-button {
    -fx-image: url('/css/cancel-button.png');
}

#close-button:hover {
    -fx-image: url('/css/cancel-button-hover.png');
    -fx-cursor: hand;
}

#close-button:pressed {
    -fx-image: url('/css/cancel-button-press.png');
    -fx-cursor: hand;
}