
.titled-pane > .title {
    -fx-background-color: background-color;
    -fx-background-radius: 0px;
    -fx-padding: 0.16667em 0.75em 0.16667em 0.75em; /* 2 9 2 9 */
    /* -fx-border-color: transparent transparent border-color transparent;
    -fx-border-width: 1px; */
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color: text-color-hilight;
}
.titled-pane:focused > .title > .arrow-button .arrow{
    -fx-background-color: text-color-hilight;
    /* remove the scale effect by setting the same insets and padding when it is not focused
     * (value from modena.css from JDK 10.0.1)
     */
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em;
    -fx-effect: null;
}
.titled-pane > *.content {
    -fx-background-color: background-color;
    -fx-box-border: transparent;
    /* use font size = 11px for everything inside the scene */
    -fx-font-size: 11px;
}

#deviceName {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-font-size: 11px;
}

/* Style a combobox so that it looks liked a label when it isn't being focused  */

.auto-resize-combobox {
    -fx-background-color: white;
}
.auto-resize-combobox > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: text-accent-fill-color;
    -fx-padding: 0 0 0 0;
}
/*.auto-resize-combobox:focused > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: text-fill-color;
    -fx-padding: 0 0 0 0;
}*/
/* hide arrow */
.auto-resize-combobox > .arrow-button {
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.auto-resize-combobox > .arrow-button > .arrow {
    -fx-padding: 0 0 0 0;
    -fx-shape: null;
}

/*  */

.auto-resize-numeric-text-field {
    -fx-text-fill: text-accent-fill-color;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.auto-resize-numeric-text-field:focused {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.combo-box-popup > .list-view {
    -fx-min-width: 0;
}

/*  */

.check-box {
    -fx-label-padding: 0.0em 0.0em 0.0em 0.416667em; /* 0 0 0 5 */
    -fx-text-fill: -fx-text-background-color;
}
.check-box .box {
    -fx-background-color: background-color;
    -fx-border-color: border-color;
    -fx-border-radius: 3px;
    -fx-padding: 0.083333em 0.083333em 0.166667em 0.166667em; /* 1 1 2 2 */
}
.check-box:selected  .mark {
    -fx-background-color: accent-color;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

/*  */

.range-slider .range-bar {
    -fx-background-color: #2673fd;
}
.range-slider .low-thumb {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0, 0;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 7.5;
}
.range-slider .low-thumb:hover {
    -fx-background-color: #e3e3e3;
    -fx-background-insets: 0, 0, 0;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 7.5;
    -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
}
.range-slider .high-thumb {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0, 0;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 7.5;
}
.range-slider .high-thumb:hover {
    -fx-background-color: #e3e3e3;
    -fx-background-insets: 0, 0, 0;
    -fx-pref-height: 15;
    -fx-pref-width: 15;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 7.5;
    -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
}