#mainPane{
    -fx-border-radius: 5;
    -fx-border-color: #ED1C24;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-background-color: #FFFFFF;
}
#backspaceBtn{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('backspace-arrow.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
}
#backspaceBtn:pressed{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('backspace-arrow.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
}
