#scrollPane{
    -fx-border-radius: 5;
    -fx-border-color: lightgrey;
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

#scrollPane > .viewport{
    -fx-background-radius: 5;
    -fx-background: transparent;
}

#mainPane{
    -fx-background-color: transparent;
}