.root {
    -fx-focus-color: transparent;
    -fx-effect: null;
    -fx-font-size:12px;
}

#additionalBeginPane {
    -fx-background-radius: 5;
    -fx-background-color: scene-background-color;
}

#additionalBeginTextField {
    -fx-background-color : transparent;
    -fx-text-fill: text-color;
    -fx-font-weight: bold;
    -fx-font-size : 14px;
    -fx-padding: 0px;
    -fx-max-width: 150px;
}


#outPort {
    -fx-fill: begin-outport;
    -fx-stroke: begin-outport;
    /*-fx-fill: #4d555b;
    -fx-stroke: #4d555b;*/
    -fx-strokeType: INSIDE;
    -fx-type: ROUND;
    -fx-cursor: hand;
}