.root{
    -fx-focus-color: transparent;
    -fx-effect: null;
    -fx-font-size:12px;
}
#conditionPane{
    -fx-background-color : transparent;
}
#contentPane{
    -fx-background-color : condition-background-color;
    /*-fx-background-color : #f6f6f6;*/
    -fx-background-radius : 7.5;
    /*-fx-border-color : #e3e3e3;
    -fx-border-radius : 7.5;*/
}

/*----unused----*/
/*#nameStateTextField{
    -fx-background-color : #313644;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size : 14 px;
}*/

/*----unused----*/
/*#numberTextField{
    -fx-background-color : white;
    -fx-border-color : transparent;
    -fx-border-width : 0px;
    -fx-text-fill : black;
    -fx-font-size : 6 px;
    -fx-font-weight : normal;
}*/

/*----unused----*/
/*#stateBottomHBox{
    -fx-background-color : #ffffff;
    -fx-border-color: #e3e3e3;
}*/
/*.text{
    -fx-text-fill : white;
    -fx-font-size: 9 px;
}*/

/*----doubly to condition-background-color----*/
/*#deviceIconFlowPane{
    -fx-background-color : transparent;
    -fx-background-radius : 5;
    -fx-border-color : null;
}*/

#scrollPane > .viewport{
    -fx-background-color :  condition-scroll-pane-viewport-background-color;
    -fx-background-radius : 7.5;
    -fx-border-color : condition-scroll-pane-viewport-border-color;
}

.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius:0.5em;
}
.scroll-bar .thumb{
    -fx-background-color: scrollbar-thumb-color;
    -fx-border-radius: 0.5em;
    -fx-background-insets: 2, 0, 0;
}
.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#addOutputButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('add-2-toggle.png');
    -fx-background-size : 50px;
    -fx-cursor: hand;
}
#addOutputButton{
    -fx-background-image: url('add-2.png');
    -fx-background-size : 50px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
#arcNode {
    -fx-fill: condition-port;
    -fx-stroke: condition-port;
    -fx-strokeType: INSIDE;
    -fx-type: ROUND;
    -fx-cursor: hand;
}