#TabHBox {
    -fx-background-color: background-color;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#diagramScrollPane {
    -fx-background-color: control-background-color;
    -fx-border-color: border-color;
    -fx-border-width: 0.5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-color: white;
    -fx-text-fill: #313644;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-border-color : #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 3;
    -fx-background-inset : 0 0 0;
}

/* https://bitbucket.org/controlsfx/controlsfx/src/09355e6b74836a8e2281fc4591e449ab36ce30fa/controlsfx/src/main/resources/org/controlsfx/control/toggleswitch.css?at=default&fileviewer=file-view-default */

#readSensorToggle .label {
    -fx-font-size: 12px;
    -fx-text-fill: #707070;
    -fx-padding: 0 10 0 0;
}

#readSensorToggle .thumb {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
                            -fx-inner-border,
                            -fx-body-color;
    /*-fx-background-color: blue;*/
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* large value to make sure this remains circular */
    -fx-padding: 0.75em;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#readSensorToggle:selected .thumb-area {
    -fx-background-color: #2673fd;
    -fx-background-insets: 0, 1;
}

.scroll-pane{
    -fx-padding:0;
    -fx-background-color: background-color;
    -fx-border-color: background-color;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}
.scroll-pane:focused {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
        -fx-border-color: transparent;
}
.scroll-pane .corner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.scroll-bar:vertical .increment-button {
    -fx-background-color : background-color;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .decrement-button {
    -fx-background-color : background-color;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:vertical .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 10;
}
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-width: 10;
}
.scroll-bar:horizontal .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0;
}
.scroll-bar:horizontal .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 10;
}
.scroll-bar:horizontal .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
    -fx-pref-height: 10;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    /*-fx-border-radius: 2em;*/
}
.scroll-bar .thumb{
    -fx-background-color: scrollbar-thumb-color;
    /*-fx-border-radius: 2em;*/
    /*-fx-background-insets: 2, 0, 0;*/
}
.scroll-bar {
    -fx-background-color: control-background-color;
    -fx-border: control-background-color;
}

/* zoom control */

#zoomInButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('../canvas/zoom-in-toggle.png');
    -fx-background-size : 25px;
    -fx-effect : dropshadow(gaussian,derive(black,75%), 5.0 , 0.0, 0.0 , 0.0);
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomInButton{
    -fx-background-image: url('../canvas/zoom-in.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomOutButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('../canvas/zoom-out-toggle.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomOutButton{
    -fx-background-image: url('../canvas/zoom-out.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 5px;
}
#zoomFitButton:pressed{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('../canvas/zoom-default-toggle.png');
    -fx-background-size : 25px;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10px 10px 10px 10px;
 }
#zoomFitButton{
    -fx-background-image: url('../canvas/zoom-default.png');
    -fx-background-size : 25px;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10px 10px 10px 10px;
 }