#unsaved-dialog {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-padding: 10px;
}
#HBox-header {
    -fx-text-fill: #707070;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-color: #e3e3e3;
    -fx-border-width: 0 0 1 0;
}

#cancel-button {
    -fx-image: url('../cancel-button.png');
}
#cancel-button:hover {
    -fx-image: url('../cancel-button-hover.png');
    -fx-cursor: hand;
}
#cancel-button:pressed {
    -fx-image: url('../cancel-button-press.png');
    -fx-cursor: hand;
}

#unsaved-text {
    -fx-text-fill: #707070;
    -fx-font-size: 18px;
}

#unsaved-message {
    -fx-text-fill: #707070;
    -fx-font-size: 16px;
    -fx-width: 20px;
}

#unsaved-button {
    -fx-font-size: 16px;
    -fx-background-color : #ffffff;
    -fx-border-color : #e3e3e3;
    -fx-text-fill: #707070;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-cursor: hand;
}
#unsaved-button:hover {
    -fx-font-size: 16px;
    -fx-background-color: #e3e3e3;
    -fx-border-color : #e3e3e3;
    -fx-text-fill: #707070;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}
#unsaved-button:pressed {
    -fx-font-size: 16px;
    -fx-background-color : #e3e3e3;
    -fx-border-color : #e3e3e3;
    -fx-text-fill: #707070;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

#HBox{
    -fx-padding: 5px;
}