.root{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 15;
    -fx-background-color: background-color;
    -fx-background-radius: 15;
}

.scroll-pane{
    -fx-padding:0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.scroll-pane > .viewport{
    -fx-background-color : background-color;
    -fx-border-color : background-color;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-border-radius: 2em;
}
.scroll-bar .thumb{
    -fx-background-color: scrollbar-thumb-color;
    -fx-border-radius: 2em;
    -fx-background-insets: 2 0 0;
}
.scroll-bar {
    -fx-background-color: transparent;
}

.titled-pane > .title {
  -fx-background-color: transparent;
}

.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color : control-background-color-dark;
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        #008ef4; /* this line is the background color of the bar */
}

.progress-bar > .track {
    -fx-background-color: control-background-color;
    /*-fx-background-color: -fx-text-box-border, -fx-control-inner-background;*/
    -fx-text-box-border: control-background-color;
    -fx-control-inner-background: #008ef4;
}

.text-area .content {
    -fx-background-color: control-background-color;
    -fx-text-box-border: transparent;
}

#progress{
    -fx-text-fill: text-color;
    -fx-font-size: 12px;
}

#detailPane{
    -fx-text-fill: text-color;
    -fx-font-size: 12px;
}

#close-button {
    -fx-image: url('/css/cancel-button.png');
}

#close-button:hover {
    -fx-image: url('/css/cancel-button-hover.png');
    -fx-cursor: hand;
}

#close-button:pressed {
    -fx-image: url('/css/cancel-button-press.png');
    -fx-cursor: hand;
}