.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    /*-fx-text-fill : black;*/
    -fx-font-size: 12px;
    -fx-border-color: border-color;
    -fx-border-width: 0;
    -fx-border-radius: 10;
    -fx-background-color: background-color;
    /*-fx-background-radius: 10;*/
}

#configVBox{
    -fx-background-color: background-color;
    -fx-text-fill: text-color-hilight;
    -fx-font-size: 12px;
}

#topicConfigDevice {
    -fx-padding: 7px;
}

.scroll-pane{
    -fx-background-color: background-color;
    -fx-border-color : border-color;
    -fx-border-width : 0.5px;
    -fx-padding: 20px 20px 20px 20px;
}

.scroll-pane > .viewport{
    -fx-background-color: background-color;
    -fx-border-color : background-color;
    -fx-border-width : 0px;
    -fx-padding: 20px 20px 20px 20px;
}

.scroll-bar {
    -fx-background-color: scrollbar-background-color;
    -fx-border-color: scrollbar-background-color;
}

.scroll-bar .increment-button {
    -fx-background-color : scrollbar-background-color;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-bar .decrement-button {
    -fx-background-color : scrollbar-background-color;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;
}

.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}

.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}

.scroll-bar .track{
    -fx-background-color: scrollbar-background-color;
    -fx-border-color : scrollbar-background-color;
    -fx-border-radius: 0.5em;
}

.scroll-bar .thumb{
    -fx-background-color: scrollbar-thumb-color;
    -fx-border-radius: 0.5em;
    -fx-background-insets: 2, 0, 0;
}

.text-field{
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-color: text-fill-background-color;
    -fx-text-fill: text-fill-color;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-border-color : text-fill-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 3;
}

.check-box .box {
    -fx-background-color: text-fill-background-color;
    -fx-border-color: text-fill-border-color;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: accent-color;
}

#topicConfigDevice{
    -fx-background-color : transparent;
    -fx-text-fill : text-color;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.label{
    -fx-background-color : transparent;
    -fx-text-fill : text-color;
    -fx-font-size: 12px;
}
#portComboBox{
    -fx-max-width: 95;
    -fx-min-width: 60;
    -fx-min-height: 25;
    -fx-max-height: 25;
    -fx-font-size: 12px;
}
#portComboBox:showing .list-view,#portComboBox:armed .list-view{
    -fx-max-width: 95;
    -fx-min-width: 60;
    -fx-font-size: 12px;
}
#controllerSelection{
    -fx-padding: 0 0 0 35 ; /* 4 8 4 8 */

}

/*#deviceComboBox{
    -fx-max-width: 320;
    -fx-min-width: 320;
    -fx-min-height: 25;
    -fx-max-height: 25;
}*/

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px;
    -fx-padding: 0; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-border-color : text-fill-border-color;
    -fx-border-radius:3px;
    -fx-background-color: white;
    -fx-background-insets:0;
    -fx-font-size:12px;
}
/*#deviceComboBox:showing .list-view,#deviceComboBox:armed .list-view {
    -fx-max-width: 320;
    -fx-min-width: 320;
}*/
.combo-box.list-cell {
    -fx-background-color: text-fill-background-color;
    -fx-background-radius: 3px;
    -fx-text-fill: text-fill-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
    -fx-font-size:12px;
}
.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: accent-color;
    -fx-background-radius:0;
    -fx-text-fill: white;
    -fx-font-size:12px;
}
.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: derive(#cccccc,40%);
    -fx-background-radius:0;
    -fx-text-fill: black;
    -fx-font-size:12px;
}

#unusedLabel {
    -fx-background-color: border-color;
    -fx-border-color: border-color;
    -fx-font-weight: bold;
}

#additionalLabel {
    -fx-font-weight: bold;
}

/*#close-button {
    -fx-image: url('/css/cancel-button.png');
}

#close-button:hover {
    -fx-image: url('/css/cancel-button-hover.png');
    -fx-cursor: hand;
}

#close-button:pressed {
    -fx-image: url('/css/cancel-button-press.png');
    -fx-cursor: hand;
}*/
