#devicePanelPane{
    -fx-background-color: #f6f6f6;
}
#deviceTitle{
    -fx-background-color : #ffffff;
    -fx-text-fill : #707070;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.titled-pane > .title{
    -fx-background-color : #ffffff;
    -fx-border-color: #e3e3e3;
    -fx-border-width : 0 0 0 0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.titled-pane{
    -fx-focus-color: transparent;
    -fx-font-size:14px;
    -fx-text-fill : #707070;
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color : #707070;
}
.titled-pane > *.content{
    -fx-background-color : #f6f6f6;
    -fx-box-border : transparent;
}

.radio-button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill : white;
}

.radio-button .radio {
    -fx-background-color: #3b424f;
}
 
.radio-button .radio .dot {
    -fx-mark-color: #51af98;
    -fx-mark-highlight-color: #51af98;
}

.scroll-pane {
    -fx-background-color:transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: #f6f6f6;
}
.scroll-bar .increment-button {
    -fx-background-color : transparent;
    -fx-background-radius: 2em;
    -fx-padding:0 10 0 0;
}
.scroll-bar .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius: 10;
    -fx-padding:0 10 0 0;
}
.scroll-bar .increment-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar .track{
    -fx-background-color:   #f6f6f6;
    -fx-border-color :   #f6f6f6;
    -fx-border-radius:2em;
}
.scroll-bar .thumb{
    -fx-background-color: #707070;
    -fx-border-radius: 0em;
    -fx-background-insets: 0 3 0 3;
}

#addBtn:pressed ,#addBtn:hover{
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('add-device-toggle-7.png');
    -fx-background-size : 30px;
    -fx-background-repeat:no-repeat;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}
#addBtn{
    -fx-background-image: url('add-device-7.png');
    -fx-background-size : 30px;
    -fx-background-color: transparent;
    -fx-background-repeat:no-repeat;
    -fx-border-color : transparent;
    -fx-cursor: hand;
}

#anchorPane {
    -fx-background-color: #ffffff;
    -fx-border-color: #e3e3e3;
    -fx-border-width : 0 0 0 0;
}
